<div class="navbar container navbar-expand-lg fixed-top navbar-yellow bg-light">
  <%= link_to 'back', dockets_path, class: "button btn btn-secondary" %>
  <a href="../" class="navbar-brand">New Docket</a>
</div>

<div class="container padding-hack">
  <%= render 'form', docket: @docket, addresses: @addresses %>
</div>
